name: Deploy to Elastic Beanstalk

on:
  push:
    branches:
      - main  # deploys when you push to main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Zip application for EB
        run: zip -r ExpenseTracker.zip .

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v22
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: ap-south-1
          application_name: ExpenseTracker
          environment_name: ExpenseTracker-env
          version_label: ${{ github.sha }}
          deployment_package: ExpenseTracker.zip
